<div class="row">
  <div class="portlet box red">

    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-bars"></i> {{'TENANT_SETTINGS_TITLE'|translate}}</div>
    </div>

    <div class="portlet-body">
      <form class="form-horizontal" ng-submit="saveSettings(tenantSettings)">


        <div class="form-group">
          <label for="inputEmail4" class="col-sm-2 control-label">{{'TENANT_SETTINGS_MAX_ROWS'|translate}}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail4" placeholder="" ng-model="tenantSettings.maxRows" required >
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-11">
            <div class="col-md-2">
              <label for="SigningCertificate" class="control-label">{{'TENANT_SETTINGS_SIGNING_CERTIFICATE'|translate}}</label>
            </div>
            <div class="col-md-6" ng-if="!isSigningFileSelected">
              <input type="file" id="SigningCertificate" onchange="angular.element(this).scope().signingFileSelected(this.files)" required >
            </div>
            <div class="col-md-6" ng-if="isSigningFileSelected">
              <label>{{tenantSettings.signingFileName}}</label>
              <button class="btn red" ng-click="changeSigningFile()">{{'TENANT_SETTINGS_CHANGE'|translate}}</button>
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="!isSigningFileSelected">
          <label for="inputSigningPassword" class="col-sm-2 control-label">{{'TENANT_SETTINGS_SIGNING_PASSWORD'|translate}}</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputSigningPassword" placeholder="" ng-model="tenantSettings.signingPassword" required >
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-11">
            <div class="col-md-2">
              <label for="StampingCertificate" class="control-label">{{'TENANT_SETTINGS_STAMPING_CERTIFICATE'|translate}}</label>
            </div>
            <div class="col-md-6" ng-if="!isStampingFileSelected">
              <input type="file" id="StampingCertificate" ng-model="tenantSettings.signingFile" onchange="angular.element(this).scope().stampingFileSelected(this.files)" required >
            </div>
            <div class="col-md-6" ng-if="isStampingFileSelected">
              <label>{{tenantSettings.stampingFileName}}</label>
              <button class="btn red" ng-click="changeStampingFile()">{{'TENANT_SETTINGS_CHANGE'|translate}}</button>
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="!isStampingFileSelected">
          <label for="inputStampingPassword" class="col-sm-2 control-label">{{'TENANT_SETTINGS_STAMPING_PASSWORD'|translate}}</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputStampingPassword" placeholder="" ng-model="tenantSettings.stampingPassword" required >
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-11">
            <div class="col-md-2">
              <label for="imageForSigning" class="control-label">{{'TENANT_SETTINGS_SIGNING_IMAGE'|translate}}</label>
            </div>
            <div class="col-md-6" ng-if="!isSignatureImageSelected">
              <input type="file" id="imageForSigning" ng-model="signatureImage" onchange="angular.element(this).scope().signatureImageSelected(this.files)" required >
            </div>
            <div class="col-md-6" ng-if="isSignatureImageSelected">
              <label>{{tenantSettings.signatureImageName}}</label>
              <button class="btn red" ng-click="changeSignatureImage()">{{'TENANT_SETTINGS_CHANGE'|translate}}</button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn red" >{{'TENANT_SETTINGS_SAVE'|translate}}</button>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
        