<div class="row">
  <nav ng-class="getNavStyle(scroll)">

    <div class="col-md-5 col-md-offset-4" ng-show="!pageCount">
      <h3>{{'PDF_VIEWER_TEMPLATE_LOADING_DOCUMENT'|translate}}</h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="col-md-3 col-md-offset-4">
        <p><i style="font-size: 120px" class="fa fa-spinner fa-spin"></i></p>
      </div>
    </div>

    <div ng-show="pageCount">
      <button class="btn red" ng-click="goPrevious()">{{'PDF_VIEWER_TEMPLATE_BACK'|translate}}</button>
      <button class="btn red" ng-click="goNext()">{{'PDF_VIEWER_TEMPLATE_NEXT'|translate}}</button>
      <button class="btn red" ng-click="zoomIn()">{{'PDF_VIEWER_TEMPLATE_ZOOM_IN'|translate}}</button>
      <button class="btn red" ng-click="zoomOut()">{{'PDF_VIEWER_TEMPLATE_ZOOM_OUT'|translate}}</button>
      <button class="btn red" ng-click="rotate()">{{'PDF_VIEWER_TEMPLATE_ROTATE'|translate}}</button>

      <span>{{'PDF_VIEWER_TEMPLATE_PAGE'|translate}}</span>
      <input type="text" min=1 ng-model="pageNum">
      <span> / {{pageCount}}</span>
    </div>

  </nav>

  <hr>

  <br ng-show="!pageCount">
  <br ng-show="!pageCount">
  <br ng-show="!pageCount">
  <br ng-show="!pageCount">
  <br ng-show="!pageCount">
  <br ng-show="!pageCount">

  <div class="row col-md-12">
    <div class="col-md-3">
      <div class="bs-example">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" ng-click="getSigners()" data-parent="#accordion" data-target="#collapseOne">{{'PDF_VIEWER_VIEW_SIGNATURES'|translate}}</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body" ng-show="isLoadingSigners">
                <span class="col-md-12 text-center" >
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
              </div>
              <div class="panel-body" ng-repeat="signers in signatures" ng-show="!isLoadingSigners">
                {{signers.name}}
                {{signers.email}}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-9">
      <canvas id="pdf"></canvas>
    </div>
  </div>

</div>
