<div class="portlet box red">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-bars"></i>{{'ALERTS_TITLE'|translate}}</div>
  </div>
  <div class="portlet-body form">
    <div class="form-body">

      <div class="row">
        <div class="col-md-5 col-md-offset-4" ng-show="showSpinner">
          <h3>{{'ALERTS_LOADING_DATA'|translate}}</h3>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="col-md-3 col-md-offset-2">
            <p><i style="font-size: 120px" class="fa fa-spinner fa-spin"></i></p>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>

      <div ng-show="!showSpinner" class="CSSTableGenerator">

        <table ng-table="tableParams" show-filter="true" class="table table-bordered">
          <tr ng-repeat="task in $data" ng-class="{warning: task.status == 'abouttoexpire' , danger: task.status == 'expired'}" ng-click="viewDetail(task)">
            <td data-title="'ALERTS_FILED' | translate" filter="{ 'requestId': 'text' }" sortable="'requestId'" align="center"  >{{task.requestId}}</td>
            <td data-title="'ALERTS_PROCESS' | translate" filter="{ 'procedureName': 'text' }" sortable="'procedureName'" align="center" >{{task.procedureName}}</td>
            <td data-title="'ALERTS_SUBJECT' | translate" filter="{ 'subject': 'text' }" sortable="'subject'" align="center" >{{task.requestSubject}}</td>
            <td data-title="'ALERTS_FILED_DATE' | translate" filter="{ 'requestDate': 'text' }" sortable="'requestDate'" align="center" >{{task.requestCreationDate | amDateFormat:'D/MM/YYYY, h:mm:ss a'}}</td>
            <td data-title="'ALERTS_USER' | translate" filter="{ 'userName': 'text' }" align="center" sortable="'userName'" >{{task.userName}}</td>
            <td data-title="'ALERTS_STATE' | translate" filter="{ 'status': 'text' }" align="center" sortable="'status'" >{{task.status == 'expired'?'Vencido':'Próximo a vencer'}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
