<div >
  <div class="col-md-12">
    <div class="form-group">
      <label >{{'REQUEST_DETAIL_STEP'|translate}}</label>
      <input type="text" class="form-control"  value="{{currentRequest.procedure.name}}" readonly>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label>{{'REQUEST_DETAIL_SUBJECT'|translate}}</label>
      <input type="text" class="form-control"  value="{{currentRequest.subject}}">
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label>{{'REQUEST_DETAIL_REMITTER'|translate}}</label>
      <input type="text" class="form-control"  value="{{currentRequest.user.name}} {{currentRequest.user.lastName}}" readonly>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="inputFile">{{'PLEASE_UPLOAD_DOCUMENT'|translate}}</label>
  <input type="file" name="file" id="inputFile" onchange="angular.element(this).scope().setFileToScope(this.files)">
  <button ng-click='uploadFile()'>{{'UPLOAD'|translate}}</button>
</div>
<div class="row">
  <p>{{'DOCUMENTS'|translate}}</p>

  <table class="table">
    <th>{{'ID'|translate}}</th>
    <th>{{'NAME'|translate}}</th>
    <tr ng-repeat="doc in currentRequest.docs">
      <td>
        {{doc.id}}
      </td>
      <td>
        {{doc.name}}
      </td>
    </tr>
  </table>
</div>
<div class="row">
  <button ng-click='insertRequest()'>{{'CREATE REQUEST'|translate}}</button>
</div>
