<div class="row">
  <div class="portlet box red">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-bars"></i> {{'REJECT_REQUEST_TITTLE'|translate}}</div>
    </div>
    <div class="portlet-body form">

      <!-- BEGIN FORM-->
      <form action="#" class="form-horizontal">
        <div class="form-body">

          <div class="row">
            <div class="col-md-12">
              <h1 class="form-section">{{'REJECT_REQUEST_LABEL'|translate}}</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <lf-editor id="editorTagId" >
              </lf-editor>
            </div>
          </div>

          <div class="row" align="center">
            <div class="col-md-12" >
              <button type="button"  class="btn red" ng-show="!isLoading" ng-click="handleSignedRequestRejection()">{{'REJECT_REQUEST_SEND'|translate}} </button>
              <span class="col-md-12 text-center" ng-show="isLoading" style="font-size: 30px;" ng-show="isLoading" >
                {{loadingMessage}}
                <i class="fa fa-spinner fa-spin"></i>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
