<form action="#" class="form-horizontal">
  <div class="form-body">
    <h4 class="form-section">{{'REQUEST_DETAIL_REQUEST_INFO'|translate}}</h4>
    <div class="row">
      <div class="col-md-4">

        <label >{{'REQUEST_DETAIL_NO_RADICADO'|translate}}</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-check-square-o"></i>
          </span>
          <input type="text" class="form-control" id="requestId" value="{{showShortRequestId(currentRequest.id)}}" readonly>
        </div>

      </div>
      <div class="col-md-4">

        <label for="exampleInputPassword1">{{'REQUEST_DETAIL_DATE'|translate}}</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
          <input type="text" class="form-control" id="exampleInputPassword1" value="{{currentRequest.requestDate | amDateFormat:'MM/D/YYYY, h:mm:ss a'}}" readonly>
        </div>

      </div>
      <div class="col-md-4">

        <label for="exampleInputPassword2">{{'REQUEST_DETAIL_DUE_DATE'|translate}}</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
          <input type="text" class="form-control" id="exampleInputPassword2" value="{{currentRequest.dueDate | amDateFormat:'MM/D/YYYY, h:mm:ss a'}}" readonly>
        </div>

      </div>
      <div class="col-md-4">

        <label >{{'REQUEST_DETAIL_STEP'|translate}}</label>
        <input type="text" class="form-control"  value="{{currentRequest.procedure}}" readonly>

      </div>
      <div class="col-md-4">

        <label>{{'REQUEST_DETAIL_SUBJECT'|translate}}</label>
        <input type="text" class="form-control"  value="{{currentRequest.subject}}" readonly>

      </div>
      <div class="col-md-4">

        <label>{{'REQUEST_DETAIL_STATUS'|translate}}</label>
        <input type="text" class="form-control"  value="{{showRequestStatus(currentRequest.requestStatus)}}" readonly>

      </div>
      <div ng-if="currentRequest.idCase" class="col-md-4">

        <label>{{'REQUEST_DETAIL_ID_CASE'|translate}}</label>
        <input type="text" class="form-control"  value="{{currentRequest.idCase}}" readonly>

      </div>
      <div ng-if="currentRequest.observations" class="col-md-4">

        <label>{{'REQUEST_DETAIL_OBSERVATIONS'|translate}}</label>
        <input type="text" class="form-control"  value="{{currentRequest.observations}}" readonly>

      </div>
      <div class="col-md-4">

        <label>{{'REQUEST_DETAIL_REMITTER'|translate}}</label>
        <input type="text" class="form-control"  value="{{currentRequest.user}}" readonly>

      </div>

      <h4 ng-click="getTaskInfo()" class="col-md-12 form-section" data-toggle="collapse" data-target="#taskInfoCollapse" aria-expanded="false" aria-controls="taskInfoCollapse"><i ng-class="taskDetailInfoIconClass"></i>{{'REQUEST_DETAIL_INFO'|translate}}</h4>

      <div class="collapse" id="taskInfoCollapse">
        <div class="col-md-5 col-md-offset-4" ng-show="!showTaskInfo && showTaskInfoSpiner">
          <h3>{{'REQUEST_DETAIL_LOADING_INFO'|translate}}</h3>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="col-md-3 col-md-offset-2">
            <p><i style="font-size: 120px" class="fa fa-spinner fa-spin"></i></p>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>

        <div class="col-md-5 col-md-offset-4" ng-show="showNotFoundTaskInfo">
          <h3>Esta petición aún no tiene un caso asociado</h3>
        </div>

        <div ng-show="showTaskInfo">
          <div class="col-md-6" >
            <label>{{'REQUEST_DETAIL_STATUS'|translate}}</label>
            <input type="text" class="form-control"  value="{{currentTask.taskNameWhereProcessIs}}" readonly>
          </div>

          <div class="col-md-6" >
            <label > {{'REQUEST_DETAIL_OWNER'|translate}}</label>
            <input type="text" class="form-control"  value="{{currentTask.responsible ? currentTask.responsible:'Sin asignar'}}" readonly>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
