<div class="portlet box red">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-bars"></i> {{'REQUESTS_TITLE'|translate}}</div>
  </div>
  <div class="portlet-body form">
    <div class="form-body">

      <div class="row">
        <div class="col-md-5 col-md-offset-4" ng-show="showSpinner">
          <h3>{{'REQUESTS_LOADING_DATA'|translate}}</h3>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="col-md-3 col-md-offset-2">
            <p><i style="font-size: 120px" class="fa fa-spinner fa-spin"></i></p>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>

      <div ng-show="!showSpinner" class="CSSTableGenerator">

        <table ng-table="tableParams" show-filter="true" class="table table-bordered">
          <tr ng-repeat="request in $data" ng-click="viewDetail(request)">
            <td data-title="'REQUESTS_FILED' | translate" filter="{ 'requestId': 'text' }" sortable="'requestId'" align="center" >{{showShortRequestId(request.requestId)}}</td>
            <td data-title="'REQUESTS_PROCESS' | translate" filter="{ 'procedureName': 'text' }" sortable="'procedureName'" align="center" >{{request.procedureName}}</td>
            <td data-title="'REQUESTS_SUBJECT' | translate" filter="{ 'subject': 'text' }" sortable="'subject'" align="center" >{{request.requestSubject}}</td>
            <td data-title="'REQUESTS_FILED_DATE' | translate" align="center" filter="{ 'requestCreationDate': 'text' }" sortable="'requestCreationDate'" >{{request.requestCreationDate | amDateFormat:'D/MM/YYYY, h:mm:ss a'}}</td>
            <td data-title="'REQUESTS_EXPECTED_FINISH_DATE' | translate" align="center" filter="{ 'expectedFinishDate': 'text' }" sortable="'expectedFinishDate'" >{{request.expectedFinishDate | amDateFormat:'D/MM/YYYY, h:mm:ss a'}}</td>
            <td data-title="'REQUESTS_USER' | translate" filter="{ 'userName': 'text' }" sortable="'userName'" align="center" >{{request.userName}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
