<div class="portlet box red">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-bars"></i> {{'REVIEWED_REQUESTS_TITLE'|translate}}
    </div>
  </div>
  <div class="portlet-body form">
    <div class="form-body">

      <form class="form-horizontal" name="reviewedRequestsForm" id="reviewedRequestsForm">

        <div class="col-md-6">

          <input type="text" id="procedureName" class="form-control" placeholder="{{'REVIEWED_REQUESTS_PROCESS_NAME' | translate}}" ng-model="queryJson.procedureName" reg-exp-require="/^[a-zA-Z0-9]+$/"><br>
          <input type="text" id="requestId" class="form-control" placeholder="{{'REVIEWED_REQUESTS_FILED_NUMBER' | translate}}" ng-model="queryJson.requestId" reg-exp-require="/^[a-zA-Z0-9]+$/"><br>
          <input type="text" id="caseId" class="form-control" placeholder="{{'REVIEWED_REQUESTS_CASE_NUMBER' | translate}}" ng-model="queryJson.caseId" reg-exp-require="/^[a-zA-Z0-9]+$/"><br>
          <input type="text" id="userNameLastActor" class="form-control" placeholder="{{'REVIEWED_REQUESTS_BOSS_NAME' | translate}}" ng-model="queryJson.userNameLastActor" reg-exp-require="/^[a-zA-Z0-9]+$/"><br>

          <div class="input-group">
              <span class="input-group-btn">
		            <button type="button" class="form-control2" ng-click="open($event, 'to')"><i class="fa fa-calendar"></i></button>
		          </span>
            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="assignedDateTo" is-open="toOpened" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" placeholder="{{'REVIEWED_REQUESTS_ASSIGNED_DATE_TO' | translate}}"/><br>
          </div>

        </div>

        <div class="col-md-6">

          <input type="text" id="userName" class="form-control" placeholder="{{'REVIEWED_REQUESTS_CITIZEN_NAME' | translate}}" ng-model="queryJson.userName" reg-exp-require="/^[a-zA-Z0-9]+$/"><br>
          <select class="form-control" ng-init="queryJson.userDocumentType = typesOfDocuments[0]" ng-model="queryJson.userDocumentType" ng-options="document for document in typesOfDocuments"></select><br>
          <input type="text" id="userDocumentNumber" class="form-control" placeholder="{{'REVIEWED_REQUESTS_CITIZEN_DOCUMENT_NUMBER' | translate}}" ng-model="queryJson.userDocumentNumber" reg-exp-require="/^[a-zA-Z0-9]+$/"><br>
          <div class="input-group">
              <span class="input-group-btn">
		            <button type="button" class="form-control2" ng-click="open($event, 'from')"><i class="fa fa-calendar"></i></button>
		          </span>
            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="assignedDateFrom" is-open="fromOpened" close-text="Cerrar" current-text="Hoy" clear-text="Borrar" placeholder="{{'REVIEWED_REQUESTS_ASSIGNED_DATE_FROM' | translate}}"/><br>
          </div>

        </div>

      </form>

      <div class="row">

        <div class="col-md-2 col-md-offset-5">
          <br>
          <button class="btn red" type="submit" ng-click="findRequests()">{{'REVIEWED_REQUESTS_SEARCH'|translate}}</button>
        </div>

      </div>

      <div class="row">
        <div class="col-md-5 col-md-offset-4" ng-show="showSpinner">
          <h3>{{'REVIEWED_REQUEST_LOADING_DATA'|translate}}</h3>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="col-md-3 col-md-offset-2">
            <p><i style="font-size: 120px" class="fa fa-spinner fa-spin"></i></p>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>

      <div class="CSSTableGenerator" ng-show="!showSpinner && showTable">

        <table ng-table="tableParams" show-filter="true" class="table table-bordered">

          <tr ng-repeat="request in $data" ng-click="viewDetail(request)">
            <td data-title="'REVIEWED_REQUESTS_TABLE_FILED' | translate" sortable="'requestId'" align="center">{{request.requestId}}</td>
            <td data-title="'REVIEWED_REQUESTS_TABLE_PROCESS' | translate" sortable="'procedureName'" align="center">{{request.procedureName}}</td>
            <td data-title="'REVIEWED_REQUESTS_TABLE_CASE' | translate" sortable="'caseId'" align="center">{{request.caseId}}</td>
            <td data-title="'REVIEWED_REQUESTS_TABLE_ASSIGNED_DATE' | translate" sortable="'assignedDate'" align="center">{{request.assignedDate | amDateFormat:'MM/D/YYYY, h:mm:ss a'}}</td>
            <td data-title="'REVIEWED_REQUESTS_TABLE_ASSIGNED_USER' | translate" sortable="'userNameLastActor'" align="center">{{request.userNameLastActor}}</td>
            <td data-title="'REVIEWED_REQUESTS_TABLE_USER' | translate" sortable="'userName'" align="center">{{request.userName}}</td>
            <td data-title="'REVIEWED_REQUESTS_TABLE_USER_DOCUMENT_TYPE' | translate" sortable="'userDocumentType'" align="center">{{request.userDocumentType}}</td>
            <td data-title="'REVIEWED_REQUESTS_TABLE_USER_DOCUMENT_NUMBER' | translate" sortable="'userDocumentNumber'" align="center">{{request.userDocumentNumber}}</td>
            <td data-title="'REVIEWED_REQUESTS_TABLE_ACTIVITY' | translate" sortable="'requestStatus'" align="center">{{showRequestStatus(request.requestStatus)}}</td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
