<div class="col-md-12">
  <h4 ng-click="getDocumentList()" class="form-section" data-toggle="collapse" data-target="#documentCollapse" aria-expanded="false" aria-controls="documentCollapse"><i ng-class="documentIconClass"></i>{{'DOCUMENTLIST_TITLE'|translate}}</h4>

  <div class="collapse" id="documentCollapse">
    <div class="col-md-5 col-md-offset-4" ng-show="!showDocumentList">
      <h3>{{'DOCUMENTLIST_LOADING_DOCUMENTS'|translate}}</h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="col-md-3 col-md-offset-2">
        <p><i style="font-size: 120px" class="fa fa-spinner fa-spin"></i></p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="CSSTableGenerator" ng-show="showDocumentList">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>{{'DOCUMENTLIST_NAME'|translate}}</th>
          <th>{{'DOCUMENTLIST_TYPE'|translate}}</th>
          <th>{{'DOCUMENTLIST_SIZE'|translate}}</th>
          <th>{{'DOCUMENTLIST_VERSION'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="doc in documentList">
          <td style="cursor: pointer;" ng-click="openLatestVersionPopUp(doc)">{{doc.name}}</td>
          <td style="cursor: pointer;" ng-click="openLatestVersionPopUp(doc)">{{doc.type}}</td>
          <td style="cursor: pointer;" ng-click="openLatestVersionPopUp(doc)">{{doc.size}} kB</td>
          <td>
            <div class="dropdown" ng-click="getVersionsList(doc.id, doc.name)">
              <button class="btn default red-stripe" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">v. {{doc.version}}</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
