<div class="col-md-6 col-sm-6">

  <script type="text/javascript">

    //Funcion que se llama despues de cargar applet completamente
    function detectarCarga(){
    }

    function setSign(value){
      var mainDivElement = document.getElementById('javafxappplaceholder');
      var scope = angular.element(mainDivElement).scope();
      scope.safeApply(function(){
        scope.signedChunk = value;
        scope.valueChanged = true;
      });
    }
  </script>

  <div class="icono-grande"><i class="fa fa-building"></i></div>
  <span class="title-negro2">{{'LOGIN_TITTLE'|translate}}</span> <span class="title-rojo2">{{'LOGIN_TITTLE_2'|translate}}</span>
  <p></p>
  <p class="text-justify"> {{'LOGIN_TEXT'|translate}}.</p>
</div>
<div class="col-md-1 col-sm-1">
  <p>&nbsp;</p>
</div>
<div id='javafxappplaceholder'></div>
<div class="col-md-5 col-sm-5">

  <div class="content" ng-show="!isLoading">
    <!-- BEGIN LOGIN FORM -->
    <form name="loginForm" class="form-signin col-md-offset-3 col-md-6 col-md-offset-3" novalidate>
      <h2 class="form-signin-heading" translate="LOGIN_TITLE"></h2>
      <input type="text" id="inputUsername" class="form-control" placeholder="{{ 'LOGIN_USERNAME_INPUT' | translate }}" ng-model="username" reg-exp-require="/^[a-zA-Z0-9 .-]+$/" required="" autofocus="">
      <input type="password" id="inputPassword" class="form-control" placeholder="{{ 'LOGIN_PASSWORD_INPUT' | translate }}" ng-model="password" reg-exp-require="/^[a-zA-Z0-9 .-]+$/" required="">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> <label translate="LOGIN_REMEMBER_ME_CHECKBOX" style="padding-left: 0px"></label>
        </label>
      </div>
      <div class="row">
      <button class="btn red" type="submit" ng-click="authenticateFunctionary(username, password)">{{'LOGIN_LOGIN_BUTTON'|translate}} <i class="glyphicon glyphicon-log-in"></i></button>
      <button class="btn red" type="submit" ng-click="authenticateWithCerticate()">{{'LOGIN_LOGIN_WITH_CERTIFICATE'|translate}} <i class="fa fa-certificate"></i></button>
      </div>
      <br>
      <a class="forget" translate="LOGIN_FORGOT_PASSWORD_LINK" ng-click="openRequestRecoverPopUp()"></a>
    </form>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" action="index.html" method="post">
    </form>
    <!-- END REGISTRATION FORM -->
  </div>
  <!-- END LOGIN -->
  <span class="col-md-12 text-center" ng-show="isLoading" style="" ng-show="isLoading" >
    {{loadingMessage}}
    <i class="fa fa-spinner fa-spin"></i>
  </span>
</div>
