<div class="modal-header">
	<button class="close" aria-hidden="true" data-dismiss="modal" ng-click="closeModal()" type="button"></button>
</div>

<div class="modal-body">
	
  	<form class="login-form" name="recoverPasswordForm" novalidate>
        <h3 class="form-title">{{'REQUEST_RECOVER_PASSWORD_TITLE'|translate}}</h3>
        <div class="form-group">
    	  <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
          <label class="control-label visible-ie8 visible-ie9">{{'REQUEST_RECOVER_PASSWORD_EMAIL_INPUT'|translate}}</label>
          <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="{{'REQUEST_RECOVER_PASSWORD_EMAIL_INPUT'|translate}}"  name="email" ng-model="email" reg-exp-require="/^[a-zA-Z0-9@ .-]+$/" required autofocus=""/>
          </div>
          <span style="color:red" ng-show="recoverPasswordForm.email.$dirty && recoverPasswordForm.email.$invalid">
            <span ng-show="recoverPasswordForm.email.$error.required">{{'REQUEST_RECOVER_PASSWORD_EMAIL_INPUT_REQUIRED'|translate}}</span>
            <span ng-show="recoverPasswordForm.email.$error.email">{{'REQUEST_RECOVER_PASSWORD_EMAIL_INPUT_INVALID'|translate}}</span>
          </span> 
        </div>
        
        <div class="form-actions">

          <button type="submit" class="btn red" data-dismiss="modal" ng-click="requestRecoverPassword()" ng-disabled="recoverPasswordForm.$invalid || disableButton">
            {{'REQUEST_RECOVER_PASSWORD_REQUEST_CHANGE_BUTTON'|translate}} 
          </button>

          <button type="submit" class="btn red" data-dismiss="modal" ng-click="closeModal()">
            {{'REQUEST_RECOVER_PASSWORD_CANCEL_BUTTON'|translate}}
          </button>

        </div>
  	</form>

</div>