<div class="form-group">
  <label class="control-label col-sm-3">{{'PROCESS_SETTINGS_FORM_STATUS'|translate}}</label>

  <div class="col-sm-9">
    <div class="form-control-static">
      <span ng-if="previewForm.$invalid" class="text-danger">{{'PROCESS_SETTINGS_FORM_INVALID'|translate}} <span class="glyphicon glyphicon-thumbs-down"></span></span>
      <span ng-if="previewForm.$valid" class="text-success">{{'PROCESS_SETTINGS_FORM_VALID'|translate}} <span class="glyphicon glyphicon-thumbs-up"></span></span>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-3">{{'PROCESS_SETTINGS_FORM_DATA'|translate}}</label>

  <div class="col-sm-9">
    <div jsonify="userForm.$data"></div>
  </div>
</div>
