<div ng-controller="MagicFormController">
  <h4 class="form-section" ng-if="$parent.formProperties.length">{{'MAGIC_FORM_TITTLE'|translate}}</h4>
  <div ng-repeat="object in $parent.formProperties" class="row">
    <div class="col-md-2">
      <span for="{{object.id}}">
        {{object.name}}
      </span>
    </div>

    <div ng-if="object.type =='long'" class="col-md-8">
      <input class="form-control" ng-model="object.value" type="number" name="{{object.name}}" id="{{object.id}}" ng-disabled="{{!object.writable}}" reg-exp-require="/^[0-9]*$/" >
    </div>

    <div ng-if="object.type =='string'" class="col-md-8">
      <input class="form-control" ng-model="object.value" type="text" name="{{object.name}}" id="{{object.id}}" ng-disabled="{{!object.writable}}" ng-required="{{!object.required}}" reg-exp-require="/^[a-zA-Z0-9_]*$/" >
    </div>

    <div ng-if="object.type =='date'" class="row col-md-8">

      <div class="col-md-6">

      <input type="text"
             datepicker-popup="dd-MMMM-yyyy"
             ng-model="object.value"
             is-open="cdate.customStartDate.open"
             ng-click = "cdate.customStartDate.open = true"
             max-date="maxDate"
             datepicker-options="dateOptions"
              date-disabled="disabled(date, mode)"
             ng-required="true"
              close-text="Close"
             class="form-control" />
       </div>

      <div style="padding-top: 10px" class="col-md-1">

        <i class="glyphicon glyphicon-calendar"></i>

      </div>

    </div>

    <div ng-if="object.type=='boolean'" class="col-md-10">

      <input  ng-class="col-md-2" ng-model="object.value" value="true" type=checkbox name="{{object.name}}" id="trueRadio" ng-disabled="{{!object.writable}}" >

    </div>
    <br>
    <br>
  </div>
</div>
