<form action="#" class="form-horizontal">
  <div class="form-body">
    <h4 class="form-section">{{'TASK_DETAIL_TITTLE'|translate}}</h4>
    <div class="row">

      <div class="col-md-4">
          <label >{{'TASK_DETAIL_FILED_NUMBER'|translate}}</label>
          <input type="text" class="form-control" id="requestId" value="{{showShortRequestId(currentRequest.id)}}" readonly>
      </div>

      <div class="col-md-4">
          <label for="exampleInputPassword1">{{'TASK_DETAIL_FILED_DATE'|translate}}</label>
          <input type="text" class="form-control" id="exampleInputPassword1" value="{{currentRequest.assignedDate | amDateFormat:'MM/D/YYYY, h:mm:ss a'}}" readonly>
      </div>

      <div class="col-md-4">
          <label >{{'TASK_DETAIL_STEP'|translate}}</label>
          <input type="text" class="form-control"  value="{{currentRequest.procedure}}" readonly>
      </div>

      <div class="col-md-4">
          <label>{{'TASK_DETAIL_SUBJECT'|translate}}</label>
          <input type="text" class="form-control"  value="{{currentRequest.subject}}" readonly>
      </div>

      <div class="col-md-4">
          <label for="exampleInputPassword2">{{'TASK_DETAIL_DUE_DATE'|translate}}</label>
          <input type="text" class="form-control" id="exampleInputPassword2" value="{{currentRequest.dueDate | amDateFormat:'MM/D/YYYY, h:mm:ss a'}}" readonly>
      </div>

      <div class="col-md-4">
          <label>{{'TASK_DETAIL_REMITTER'|translate}}</label>
          <input type="text" class="form-control"  value="{{currentRequest.user}}" readonly>
      </div>

      <div class="col-md-4" >
          <label>{{'TASK_DETAIL_ID_CASE'|translate}}</label>
          <input type="text" class="form-control"  value="{{currentRequest.idCase}}" readonly>
      </div>

      <div ng-if="currentRequest.observations" class="col-md-4">
          <label >{{'TASK_DETAIL_REVIEWER_OBSERVATIONS'|translate}}</label>
          <textarea class="form-control" readonly>{{currentRequest.observations}}</textarea>
      </div>


      <h4 ng-click="getTaskInfo()" class="col-md-12 form-section" data-toggle="collapse" data-target="#taskInfoCollapse" aria-expanded="false" aria-controls="taskInfoCollapse"><i ng-class="taskDetailInfoIconClass"></i>{{'REQUEST_DETAIL_INFO'|translate}}</h4>

      <div class="collapse col-md-12" id="taskInfoCollapse">
        <div class="col-md-5 col-md-offset-4" ng-show="!showTaskInfo && showTaskInfoSpiner">
          <h3>{{'REQUEST_DETAIL_LOADING_INFO'|translate}}</h3>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="col-md-3 col-md-offset-2">
            <p><i style="font-size: 120px" class="fa fa-spinner fa-spin"></i></p>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>

        <div class="col-md-5 col-md-offset-4" ng-show="showNotFoundTaskInfo">
          <h3>Esta petición aún no tiene un caso asociado</h3>
        </div>

        <div class="col-md-12 row" ng-show="showTaskInfo">

          <div class="col-md-6" >
            <label>{{'TASK_DETAIL_STATUS'|translate}}</label>
            <input type="text" class="form-control"  value="{{currentTask.taskNameWhereProcessIs}}" readonly>
          </div>

          <div class="col-md-6" >
            <label > {{'TASK_DETAIL_RESPONSIBLE'|translate}}</label>
            <input type="text" class="form-control"  value="{{currentTask.responsible ? currentTask.responsible: 'Sin asignar'}}" readonly>
          </div>

          <div class="col-md-6" ng-if="currentTask.dueDate !== null">
            <label > {{'TASK_DETAIL_TASK_DUEDATE'|translate}}</label>
            <input type="text" class="form-control"  value="{{currentTask.dueDate | amDateFormat:'MM/D/YYYY, h:mm:ss a'}}" readonly>
          </div>

          <div class="col-md-2 col-md-offset-5">
            <br>
            <button type="button" class="btn red" ng-click="showProcess()"><span style="padding: 5px">{{'TASK_DETAIL_VIEW_CASE'|translate}}</span><span class="fa fa-line-chart"></span></button>
          </div>

        </div>
      </div>

    </div>

  </div>
</form>
