<div class="row">
  <div class="portlet box red">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-bars"></i> {{'TASK_DETAIL_TITTLE'|translate}}</div>
    </div>
    <div class="portlet-body form">

      <!-- BEGIN FORM-->
      <form action="#" class="form-horizontal">
        <div class="form-body">
          <!--details-->
          <div class="row">
            <div class="col-md-12" ng-include="'views/portalFunctionary/task-detail.html'"></div>
          </div>
        </div>

        <!--documents-->
        <div class="row">
          <div class="col-md-12"  ng-include="'views/documents/documents-list.html'"></div>
        </div>

        <!--add documents-->
        <div class="row" ng-if="showAddDocuments && !isHistoric">
          <div class="col-md-12" ng-include="'views/documents/add-documents.html'"></div>
        </div>

        <!--magic form-->
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12" ng-include="'views/portalFunctionary/magicForm.html'"></div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-12 form-actions" ng-include="urlTask"></div>
            </div>
          </div>
      </form>
      <!-- END FORM-->
    </div>
  </div>
</div>
