<!-- BEGIN CONTENT -->
<!-- BEGIN PAGE CONTENT INNER -->
<div class="row">
  <div class="col-md-4">
    <!-- BEGIN PORTLET ABIERTAS-->
    <div class="portlet light tasks-widget">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font-color hide"></i>
          <span class="caption-subject theme-font-color bold uppercase">{{'HOME_ABIERTAS'|translate}}</span>
          <span class="caption-helper">{{requestList.length}} {{'HOME_PENDIENTES'|translate}}</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="task-content">
          <div class="scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
            <!-- START TASK LIST -->
            <div ng-repeat="request in requestList" class="note note-pendiente" ui-sref="request-detail({requestId: request.id})">
              <h5 class="block">
                <a >{{request.procedure}}</a>
                <span style=" font-weight: bold" class="label label-sm label-default ">{{showShortRequestId(request.id)}}</span>
              </h5>
              <p>{{request.subject}}</p>
              <p>
                <span style=" font-weight: bold"> {{'HOME_USUARIO'|translate}} </span>
                {{request.username}}
              </p>
              <div class="number">
                  <i class="fa fa-calendar"></i>
                  {{request.requestDate | amDateFormat:'MM/D/YYYY, h:mm:ss a'}}
              </div>
            </div>

            <!-- END START TASK LIST -->
          </div>
        </div>
      </div>
    </div>
    <!-- END PORTLET ABIERTAS-->
  </div>
  <div class="col-md-4">
    <!-- BEGIN PORTLET ALERTAS-->
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font-color hide"></i>
          <span class="caption-subject theme-font-color bold uppercase">{{'HOME_ALERTAS'|translate}}</span>
          <span class="caption-helper">{{alertList.length}} {{'HOME_PENDIENTES'|translate}}</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
          <ul class="feeds">
            <li ng-repeat="alert in alertList" ui-sref="request-detail({requestId: alert.id})">
              <a ui-sref="request-detail({requestId: alert.id})">
                <div class="col1">
                  <div class="cont">
                    <div class="cont-col1">
                      <div ng-class="{'label label-sm label-warning':alert.status == 'abouttoexpire', 'label label-sm label-danger':alert.status == 'expired'}" class=""> <i class="fa fa-bell-o"></i> </div>
                    </div>
                    <div class="cont-col2">
                      <div class="desc" style=" font-weight: bold"> {{alert.procedure}}

                        <span style=" font-weight: bold" class="label label-sm label-default ">{{showShortRequestId(alert.id)}}</span>
                        <br><br>
                        <span  style=" font-weight: normal; color: #777;"> {{showShortSubject(alert.subject)}} </span>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col2">
                  <div class="date">{{alert.requestDate | amDateFormat:'MM/D/YYYY, h:mm:ss a'}}</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END PORTLET ALERTAS-->
  </div>
  <div class="col-md-4">
    <!-- BEGIN PORTLET REVISADAS-->
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font-color hide"></i>
          <span class="caption-subject theme-font-color bold uppercase">{{'HOME_REVISADAS'|translate}}</span>
          <span class="caption-helper">{{reviewedList.length}} {{'HOME_PENDIENTES'|translate}}</span>
        </div>
      </div>
      <div class="portlet-body">
        <ul class="feeds">
          <li ng-repeat="reviewed in reviewedList" ui-sref="request-detail({requestId: reviewed.id})">

              <div class="col1">
                <div class="cont">
                  <div class="cont-col1">
                    <div class="label label-sm label-info"> <i class="fa fa-check"></i> </div>
                  </div>
                  <div class="cont-col2">

                    <div class="desc" style=" font-weight: bold"><a>{{reviewed.procedure}}</a>

                      <span style=" font-weight: bold" class="label label-sm label-default ">{{showShortRequestId(reviewed.id)}}</span>
                      <br><br>
                      <span style=" font-weight: normal;"> {{showShortSubject(reviewed.subject)}} </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col2">
                <div class="date">{{reviewed.requestDate | amDateFormat:'MM/D/YYYY, h:mm:ss a'}}</div>
              </div>

          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END PORTLET REVIZADAS-->
</div>
<!-- END PAGE CONTENT INNER -->
