<div class="portlet box red">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-bars"></i> {{'PROCESS_LIST_TITLE'|translate}}</div>
  </div>
  <div class="portlet-body">
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified" >
          <li role="presentation" ng-class="{'active':currentStep == 1}" >
            <a>
              {{'PROCESS_SETTINGS_PROCESS_INFO'|translate}}
            </a>

          </li>
          <li role="presentation" ng-class="{'active':currentStep == 2}">
            <a>
              {{'PROCESS_SETTINGS_UPLOAD'|translate}}
            </a>
          </li>
          <li role="presentation" ng-class="{'active':currentStep == 3}">
            <a>
              {{'PROCESS_SETTINGS_FORM'|translate}}
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="row">
      <div  class=" col-md-3">
        <div class="list-group">
          <a ng-repeat="process in processList" ui-sref="process-configuration.step1" class="list-group-item" ng-class="{'active': process.name == selectedProcess.name }" ng-click="selectProcess(process)">
            {{process.name}}
          </a>
        </div>
        <div class="">
          <button ng-click="newProcessSettings()" class="btn red" >{{'PROCESS_SETTINGS_NEW'|translate}}</button>
        </div>
      </div>
      <div class="col-md-9" ui-view="processConfigurationWizardView" id="stepsDiv">

      </div>
    </div>



  </div>
</div>

