<div >
  <!-- Directiva que arma los formularios dinamicos-->
  <div fg-tabs class="needs-some-more-space">

    <div fg-tabs-pane="Schema Editor">
      <form class="form-horizontal" name="userForm.$state">
        <div fg-edit
             fg-schema="userForm.schema">
        </div>
      </form>
    </div>

    <div fg-tabs-pane="Form Preview" disabled="userForm.$state.$invalid">
      <div ng-include="'views/admin/form-builder/preview.html'"></div>
    </div>

  </div>

</div>

<br>

<div class="row pull-right col-md-3">
  <button type="submit" class="btn red" ng-click="finish()">{{'PROCESS_SETTINGS_FINISH'|translate}}</button>
</div>
