<div ng-controller="RedactSignController">


  <lf-editor doc-name="certidocName" template-name="certiTemplateName" id="editorTagId">
  </lf-editor>

  <span class="col-md-12 text-center" style="font-size: 30px;" ng-show="isLoading" >
    {{loadingMessage}}
    <i class="fa fa-spinner fa-spin"></i>
  </span>


  <div class="col-md-12" align="center">
    <button type="button" class="btn red" ng-click="completeTaskNoSign()" ng-show="showButtons" >{{'REDACT_WITH_SIGNATURE_REJECT'|translate}}</button>
    <button type="button" class="btn red" ng-click="completeTaskSigning()" ng-show="showButtons" >{{'REDACT_WITH_SIGNATURE_APPROVE'|translate}}</button>
  </div>
</div>
